html,
body {
  font-family: "Open Sans";
  font-style: normal;
  color: #9497a1;
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.title {
  width: 540px;
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: -0.015em;
  color: #292d33;
}

.subtitle {
  width: 540px;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  letter-spacing: -0.015em;
  margin-top: 30px;
}

.button {
  padding: 15px 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.015em;
  color: #ffffff;
  background: #185cff;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  display: inline-block;
}

.button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
          box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.header__top-inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-inner .header__logo {
  margin-right: 138px;
}
.header__top-inner .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}
.header__top-inner .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__top-inner .header__nav .header__nav-list .header__nav-item {
  margin-right: 47px;
}
.header__top-inner .header__nav .header__nav-list .header__nav-item:last-child {
  margin-right: 0;
}
.header__top-inner .header__nav .header__nav-list .header__nav-link {
  letter-spacing: -0.01em;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__top-inner .header__nav .header__nav-list .header__nav-link:hover {
  color: #292d33;
}
.header__top-inner .header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.015em;
}
.header__top-inner .header__btn-box .header__user-btn {
  color: #292d33;
  margin-right: 56px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
}
.header__top-inner .header__btn-box .header__user-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.header__top-inner .header__btn-box .header__top-btn {
  color: #185cff;
  padding: 11px 52px;
  border: 1px solid #185cff;
  border-radius: 7px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  white-space: nowrap;
  display: inline-block;
}
.header__top-inner .header__btn-box .header__top-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__body .header__body-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.header__body .header__body-inner .header__img {
  margin-right: 38px;
}
.header__body .header__body-inner .header__subtitle {
  margin: 30px 0 35px 0;
}

.burger {
  display: none;
}

.business {
  background: #f1f6fa;
}

.main__business {
  margin-top: 66px;
  padding-bottom: 100px;
}

.business__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.business__subtitle {
  width: 892px;
  margin-top: 30px;
}

.business__grid {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  -ms-grid-columns: auto 30px auto 30px auto;
      grid-template: repeat(2, auto)/repeat(3, auto);
}

.business__grid-card {
  background: #ffffff;
  width: 350px;
  padding: 46px 35px;
  border-radius: 6px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
          box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
}
.business__grid-card .business__card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: #292d33;
  margin-bottom: 16px;
}
.business__grid-card .business__card-subtitle {
  width: 280px;
}
.business__grid-card .business__card-icon {
  padding: 14px;
  border: 1px solid #f1f6fa;
  border-radius: 12px;
  margin-bottom: 30px;
}

.features__topfirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 160px;
}
.features__topfirst .features__top-img {
  margin-right: -139px;
}

.features__bottomfirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 160px;
  margin-top: 170px;
}
.features__bottomfirst .features__bottom-img {
  margin-left: -201px;
}

.features__info-inner span {
  display: block;
  width: 1px;
  height: 90px;
  background-color: #f1f6fa;
  opacity: 0.2;
}

.features__info {
  background: #185cff;
}
.features__info .features__info-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.features__info .features__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.features__info-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}

.features__info-num {
  font-weight: 800;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -0.025em;
  color: #ffffff;
}

.features__info-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-top: 20px;
}

.features__topsecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}
.features__topsecond .features__topsecond-img {
  margin-right: -199px;
}

.features__bottomsecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 190px;
  margin-top: 285px;
}
.features__bottomsecond .features__bottomsecond-img {
  margin-left: -241px;
}

.main__advantages {
  background: #f1f6fa;
}

.advantages__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
}

.advantages__subtitle {
  width: 892px;
  margin-top: 30px;
}

.advantages__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 2px 20px 17px rgba(24, 92, 255, 0.0392156863);
          box-shadow: 0px 2px 20px 17px rgba(24, 92, 255, 0.0392156863);
}

.main__advantages {
  padding-bottom: 100px;
}

.advantages__slider {
  margin: 0 auto;
  max-width: 759px;
}

.advantages__slider-next svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.advantages__slider-wrapper {
  margin: 56px 0;
  position: relative;
}

.advantages__slider-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.advantages__slider-next svg {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.advantages__slider-next:hover svg {
  -webkit-transform: scale(-1.17, 1.17);
          transform: scale(-1.17, 1.17);
}

.advantages__slider-prev svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.advantages__slider-prev:hover svg {
  -webkit-transform: scale(1.17);
          transform: scale(1.17);
}

.advantages__slider-prev {
  left: 0;
}

.advantages__slider-next {
  right: 0;
}

.advantages__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__dots li {
  margin-right: 7px;
}

.advantages__dots li:last-child {
  margin-right: 0;
}

.advantages__dots button {
  font-size: 0;
  background-color: transparent;
  width: 8px;
  height: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__dots button::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c9dcec;
}

.advantages__dots .slick-active button::before {
  background-color: #607d94;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.price__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.main__price {
  padding: 100px 0;
}

.price__decor {
  margin-top: 15px;
  width: 95px;
  height: 0px;
  border: 3px solid #185cff;
}

.price__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 35px;
  max-width: 350px;
  width: 100%;
  height: 558px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
          box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
  border-radius: 6px;
  margin-right: 10px;
}

.price__option-plus {
  white-space: nowrap;
}

.price__option-title {
  white-space: nowrap;
}

.price__option:last-child {
  margin-right: 0;
}

.price__option-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__option-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.price__option-title {
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.price__option-title span {
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.price__option-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #185cff;
  text-align: center;
  padding: 11px 0;
  border: 1px solid #185cff;
  border-radius: 6px;
  -webkit-transform: scale(1);
  transform: scale(1);
  white-space: nowrap;
  display: inline-block;
  margin: 30px 0;
}

.price__option-btn:hover {
  color: #ffffff;
  background: #185cff;
  -webkit-box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
          box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}

.price__option-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__options {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price__option-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292d33;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

.price__option-plus::before {
  content: "";
  display: block;
  background: url("../images/icons/checkmark-icon.svg");
  width: 25px;
  height: 26px;
  margin-right: 7px;
}

.price__option-plus:last-child {
  margin-bottom: 0;
}

.price__head {
  position: relative;
}

.price__toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  overflow: hidden;
  background-color: #f0f9ff;
  border-radius: 20px;
}

.price__toggle-item {
  display: inline-block;
}

.price__toggle-item input[type=radio] {
  display: none;
}

.price__toggle-item label {
  display: inline-block;
  padding: 11px 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 125px;
  background: #f0f9ff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.price__toggle .item-1 label {
  border-radius: 20px 0 0 20px;
}

.price__toggle .item-2 label {
  border-radius: 0 20px 20px 0;
}

.price__toggle .item-1 input[type=radio]:checked + label {
  background: #185cff;
  border-radius: 20px;
  color: #ffffff;
}

.price__toggle .item-2 input[type=radio]:checked + label {
  background: #185cff;
  border-radius: 20px;
  color: #ffffff;
}

.price__compare-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.contact {
  background: #f1f6fa;
}

.main__contact {
  padding: 120px 0;
}

.contact__title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 38px;
  line-height: 147%;
  letter-spacing: -0.015em;
}

.contact__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.015em;
  margin: 24px 0 0;
}

.contact__contacts {
  margin-top: 80px;
}

.contact__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
}

.contact__about:last-child {
  margin-bottom: 0;
}

.contact__about-info {
  font-weight: 700;
  letter-spacing: -0.015em;
  color: #292d33;
}

.contact__form {
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
          box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}

.contact__form-title {
  font-size: 30px;
  line-height: 133%;
  letter-spacing: -0.015em;
  color: #292d33;
  font-weight: 800;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form {
  padding: 50px 50px;
  width: 445px;
}

.contact__form-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  margin-bottom: 20px;
}

.contact__form-label:last-child {
  margin-bottom: 0;
}

.contact__form-input {
  padding: 5.5px 0;
  border-bottom: 1px solid #9497a1;
}

input[class=contact__form-input] {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.015em;
  color: #292d33;
}

.contact__form-input::-webkit-input-placeholder, .contact__form-text::-webkit-input-placeholder {
  color: #9497a1;
}

.contact__form-input::-moz-placeholder, .contact__form-text::-moz-placeholder {
  color: #9497a1;
}

.contact__form-input:-ms-input-placeholder, .contact__form-text:-ms-input-placeholder {
  color: #9497a1;
}

.contact__form-input::-ms-input-placeholder, .contact__form-text::-ms-input-placeholder {
  color: #9497a1;
}

.contact__form-input::placeholder,
.contact__form-text::placeholder {
  color: #9497a1;
}

.contact__form-info {
  margin: 30px 0 83px;
}

.contact__form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main__blog {
  padding: 140px 0 120px;
}

.blog__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 147%;
  letter-spacing: -0.015em;
  color: #292d33;
}

.blog__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__slider-prev {
  margin-right: 15px;
}

.blog__slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__card-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.015em;
}

.blog__card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.015em;
  color: #292d33;
}

.blog__card-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.015em;
}

.blog__card-more {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.01em;
  color: #185cff;
}

.blog__card-info {
  padding-top: 20px;
}

.blog__card-subtitle {
  padding-top: 12px;
}

.blog__card-desc {
  padding: 12px 0;
}

.blog__card-box {
  width: 350px;
}

.blog__card-box img {
  width: 100%;
}

.blog__slider-wrapper {
  margin-top: 50px;
}

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__card-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__card-more::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background: url("/images/icons/icon_arrow_right-mini-blue.svg");
}

.blog__slider-arrow svg {
  fill-opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog__slider-arrow {
  padding: 15px 40px;
  background: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog__slider-arrow:hover {
  background: #f0f9ff;
}

.blog__slider-arrow:hover svg {
  fill-opacity: 1;
}

.main__testimonial {
  background: #f0f9ff;
  padding: 120px 0;
}

.testimonial__title-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.testimonial__decor {
  margin-top: 15px;
  width: 95px;
  height: 0px;
  border: 3px solid #185cff;
}

.testimonial__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial__slider-arrow {
  padding: 15px 40px;
  background: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonial__slider-arrow svg {
  fill-opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonial__slider-arrow:hover svg {
  fill-opacity: 1;
}

.testimonial__slider-arrow:hover {
  background: #ffffff;
}

.testimonial__slider-prev {
  margin-right: 15px;
}

.testimonial__slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial__card-box {
  width: 540px;
  background: white;
  padding: 35px;
}

.testimonial__card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #292d33;
}

.testimonial__card-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card-about img {
  margin-right: 25px;
}

.testimonial__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__slider-wrapper {
  margin-top: 50px;
}

.testimonial__card-quote {
  margin-top: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: -0.015em;
  color: #9497a1;
}

.testimonial__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__about {
  padding: 120px 0;
}

.about__subtitle {
  width: 445px;
}

.about__logos {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__logo img {
  width: 100%;
}

.about__body {
  margin-top: 120px;
}

.about__body-title {
  width: 633px;
}

.about__accordeon {
  width: 100%;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 60px;
}

.about__acc {
  margin-top: 60px;
}

.about__acc-item {
  margin-bottom: 20px;
  border: 1px solid #9497a1;
  border-radius: 6px;
  padding: 35px;
}

.about__acc-link {
  display: block;
}

.about__acc-item:last-child {
  margin-bottom: 0;
}

.about__acc-head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.015em;
  color: #292d33;
  position: relative;
}

.about__acc-head::before,
.about__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 18px);
  width: 18px;
  height: 2px;
  background-color: #292d33;
}

.about__acc-head::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #292d33;
}

.about__acc-text {
  margin-top: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 165%;
  letter-spacing: -0.015em;
  color: #9497a1;
}

.about__acc-link--active .about__acc-head::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background-color: #185cff;
}

.about__acc-link--active .about__acc-head {
  color: #185cff;
}

.footer {
  background: #002b4e;
}

.main__footer {
  padding: 50px 0 70px;
}

.footer__top-inner {
  padding: 0 0 50px;
}

.footer__top-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__top-column:first-child {
  width: 285px;
}

.footer__top-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.015em;
  color: #9497a1;
  margin: 20px 0 20px;
}

.footer__top-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logos-item {
  line-height: 1;
  margin-right: 15px;
}

.footer__logos-item:last-child {
  margin-right: 0;
}

.footer__column-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin-bottom: 31px;
  white-space: nowrap;
}

.footer__column-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.015em;
  color: #9497a1;
  margin-bottom: 12px;
}

.footer__column-link:hover {
  font-weight: 600;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}

.footer__column-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 82px;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-about {
  margin-right: 190px;
}

.footer__bottom-about {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: -0.015em;
  color: #607d94;
}

.footer__bottom-info {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom-decor {
  border: 1px solid #607d94;
}

@media (max-width: 1150px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burger--follow {
    top: 15px;
    right: 15px;
    -webkit-box-shadow: 0 1px 8px #a1a1a1;
            box-shadow: 0 1px 8px #a1a1a1;
    background-color: #fff;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #185cff;
    border-radius: 3px;
    margin: 4px 0;
  }
  .burger::before,
.burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #185cff;
    border-radius: 3px;
  }
  .header {
    padding-top: 92px;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 320px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header__top--open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 0;
  }
  .header__top-inner .header__logo {
    margin-right: 0;
  }
  .header__top-inner .header__nav .header__nav-list .header__nav-item {
    margin-right: 0;
  }
  .header__nav {
    text-align: center;
    margin: 0 auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-link {
    display: block;
    padding: 10px;
  }
  .header__top-inner .header__btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__top-inner .header__btn-box .header__user-btn {
    margin: 0 0 10px 0;
  }
  .header__top-btn {
    margin: 0;
  }
  .header__user-nav {
    margin-bottom: 30px;
  }
  .business__grid {
    -ms-grid-rows: (auto)[3];
    -ms-grid-columns: (auto)[2];
        grid-template: repeat(3, auto)/repeat(2, auto);
    justify-items: center;
  }
  .business__grid-card {
    width: 100%;
  }
  .business__grid-card .business__card-subtitle {
    width: 100%;
  }
  .blog__card-box {
    width: 100%;
    padding: 10px;
  }
  .testimonial__card-box {
    width: 100%;
  }
  .features__bottomsecond img {
    width: 100%;
    padding: 20px;
  }
  .features__topsecond img {
    width: 100%;
    padding: 20px;
  }
  .features__bottomfirst img {
    width: 100%;
    padding: 20px;
  }
  .features__topfirst img {
    width: 100%;
    padding: 20px;
  }
  .features__subtitle {
    width: 440px;
  }
  .header__img img {
    margin-left: 20px;
  }
}
@media (max-width: 1000px) {
  .contact__title {
    font-size: 36px;
  }
  .blog__card-title {
    font-size: 20px;
  }
}
@media (max-width: 925px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 18px;
  }
  .footer__top-nav {
    margin-right: 25px;
  }
  .footer__top-nav:last-child {
    margin-right: 0;
  }
  .features__info-num {
    font-size: 52px;
  }
  .price__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price__option {
    margin: 0 0 20px 0;
    max-width: none;
  }
}
@media (max-width: 890px) {
  .header__body .header__body-inner .header__img {
    margin-right: 0;
  }
  .features__subtitle {
    width: 338px;
  }
  .features__title {
    width: 397px;
  }
  .advantages__subtitle {
    width: 700px;
  }
  .advantages__slider-arrows {
    display: none;
  }
  .contact__title {
    font-size: 34px;
    width: 450px;
  }
  .contact__subtitle {
    font-size: 16px;
    width: 400px;
  }
  .contact__desc {
    margin-right: 20px;
  }
  .header__title {
    max-width: 540px;
    width: 100%;
  }
  .header__subtitle {
    max-width: 540px;
    width: 100%;
  }
  .footer__top-about {
    margin-right: 35px;
  }
}
@media (max-width: 835px) {
  .contact__title {
    width: 100%;
    max-width: 450px;
  }
  .contact__subtitle {
    width: 100%;
    max-width: 450px;
  }
  .features__topfirst {
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__topfirst .features__top-img {
    margin: 0;
  }
  .features__topfirst img {
    max-width: 300px;
    width: 100%;
  }
  .features__bottomfirst .features__bottom-img {
    margin: 0;
  }
  .features__bottomfirst img {
    max-width: 300px;
    width: 100%;
  }
  .features__descfirst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .features__title {
    width: 100%;
  }
  .features__subtitle {
    width: 100%;
  }
  .features__topsecond {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .features__topsecond .features__topsecond-img {
    margin: 0;
  }
  .features__topsecond img {
    max-width: 300px;
    width: 100%;
  }
  .features__bottomsecond .features__bottomsecond-img {
    margin: 0;
  }
  .features__bottomsecond img {
    max-width: 300px;
    width: 100%;
  }
  .advantages__image img {
    width: 100%;
    max-width: 700px;
  }
}