// GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL
// GLOBAL GLOBAL GLOBAL GLOBAL GLOBAL

html,
body {
    font-family: "Open Sans";
    font-style: normal;
    color: #9497a1;
    font-size: 16px;
    line-height: 175%;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.title {
    width: 540px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: -0.015em;
    color: #292d33;
}

.subtitle {
    width: 540px;
    font-weight: 400;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: -0.015em;
    margin-top: 30px;
}

.button {
    padding: 15px 55px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.015em;
    color: #ffffff;
    background: #185cff;
    border-radius: 6px;
    transition: all 0.3s;
    transform: scale(1);
    display: inline-block;
}
.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}

// HEADER HEADER HEADER HEADER HEADER
// HEADER HEADER HEADER HEADER HEADER

.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header__top-inner {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
        margin-right: 138px;
    }
    .header__nav {
        display: flex;
        margin-right: auto;
        .header__nav-list {
            display: flex;
            .header__nav-item {
                margin-right: 47px;
            }
            .header__nav-item:last-child {
                margin-right: 0;
            }
            .header__nav-link {
                letter-spacing: -0.01em;
                font-weight: 500;
                font-size: 14px;
                transition: all 0.3s;
            }
            .header__nav-link:hover {
                color: #292d33;
            }
        }
    }
    .header__btn-box {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.015em;

        .header__user-btn {
            color: #292d33;
            margin-right: 56px;
            transition: all 0.3s;
            white-space: nowrap;
        }
        .header__user-btn:hover {
            transform: scale(1.05);
        }
        .header__top-btn {
            color: #185cff;
            padding: 11px 52px;
            border: 1px solid #185cff;
            border-radius: 7px;
            transform: scale(1);
            transition: all 0.3s;
            white-space: nowrap;
            display: inline-block;
        }
        .header__top-btn:hover {
            transform: scale(1.05);
        }
    }
}

.header__body {
    flex-grow: 1;
    .header__body-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .header__img {
            margin-right: 38px;
        }
        .header__subtitle {
            margin: 30px 0 35px 0;
        }
    }
}

// BUSINESS BUSINESS BUSINESS BUSINESS BUSINESS
// BUSINESS BUSINESS BUSINESS BUSINESS BUSINESS

.business {
    background: #f1f6fa;
}

.main__business {
    margin-top: 66px;
    padding-bottom: 100px;
}

.business-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    // margin-top: 66px;
}

.business__subtitle {
    width: 892px;
    margin-top: 30px;
}

.business-grid {
    margin-top: 60px;
    display: grid;
    row-gap: 30px;
    column-gap: 30px;
    grid-template: repeat(2, auto) / repeat(3, auto);
}

.business-card {
    background: #ffffff;
    width: 350px;
    padding: 46px 35px;
    border-radius: 6px;
    transition: all 1s;

    .business-card-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        color: #292d33;
        margin-bottom: 16px;
    }
    .business-card-subtitle {
        width: 280px;
    }
    .business-card-icon {
        padding: 14px;
        border: 1px solid #f1f6fa;
        border-radius: 12px;
        margin-bottom: 30px;
    }
}
.business-card:hover {
    box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
    transition: all 0.3s;
}

// FEATURESFIRST FEATURESFIRST FEATURESFIRST FEATURESFIRST FEATURESFIRST
// FEATURESFIRST FEATURESFIRST FEATURESFIRST FEATURESFIRST FEATURESFIRST

.features__topfirst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 160px;
    .features__top-img {
        margin-right: -139px;
    }
}
.features__bottomfirst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 160px;
    margin-top: 170px;
    .features__bottom-img {
        margin-left: -201px;
    }
}

// FEATURES-INFO FEATURES-INFO FEATURES-INFO FEATURES-INFO FEATURES-INFO
// FEATURES-INFO FEATURES-INFO FEATURES-INFO FEATURES-INFO FEATURES-INFO

.features__info-inner span {
    display: block;
    width: 1px;
    height: 90px;
    background-color: #f1f6fa;
    opacity: 0.2;
}
.features__info {
    background: #185cff;
    .features__info-full {
        display: flex;
        flex-direction: column;
    }
    .features__info-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.features__info-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}
.features__info-num {
    font-weight: 800;
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.025em;
    color: #ffffff;
}
.features__info-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: -0.015em;
    color: #ffffff;
    margin-top: 20px;
}

// FEATURESSECOND FEATURESSECOND FEATURESSECOND FEATURESSECOND FEATURESSECOND
// FEATURESSECOND FEATURESSECOND FEATURESSECOND FEATURESSECOND FEATURESSECOND

.features__topsecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
    .features__topsecond-img {
        margin-right: -199px;
    }
}
.features__bottomsecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 190px;
    margin-top: 285px;
    .features__bottomsecond-img {
        margin-left: -241px;
    }
}

// ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES
// ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES ADVANTAGES

.main__advantages {
    background: #f1f6fa;
}

.advantages-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    // margin-top: 66px;
}

.advantages__subtitle {
    width: 892px;
    margin-top: 30px;
}

.advantages__image {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 20px 17px #185cff0a;
}

// ARROWS ARROWS ARROWS ARROWS ARROWS
// ARROWS ARROWS ARROWS ARROWS ARROWS

.main__advantages {
    padding-bottom: 100px;
}

.advantages__slider {
    margin: 0 auto;
    max-width: 759px;
}
.advantages__slider-next svg {
    transform: scale(-1, 1);
}

.advantages__slider-wrapper {
    margin: 56px 0;
    position: relative;
}

.advantages__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.advantages__slider-next svg {
    transform: scale(-1, 1);
    transition: all 0.3s;
}

.advantages__slider-next:hover svg {
    transform: scale(-1.17, 1.17);
}

.advantages__slider-prev svg {
    transform: scale(1);
    transition: all 0.3s;
}

.advantages__slider-prev:hover svg {
    transform: scale(1.17);
}

.advantages__slider-prev {
    left: 0;
}

.advantages__slider-next {
    right: 0;
}

.advantages__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages__dots li {
    margin-right: 7px;
}

.advantages__dots li:last-child {
    margin-right: 0;
}

.advantages__dots button {
    font-size: 0;
    background-color: transparent;
    width: 8px;
    height: 8px;
    display: flex;
    align-items: center;
}

.advantages__dots button::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c9dcec;
}

.advantages__dots .slick-active button::before {
    background-color: #607d94;
    transition: all 0.3s;
}

// PRICE PRICE PRICE PRICE PRICE
// PRICE PRICE PRICE PRICE PRICE

.price__title-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: -0.015em;
    color: #292d33;
}

.main__price {
    padding: 100px 0;
}

.price__decor {
    margin-top: 15px;
    width: 95px;
    height: 0px;
    border: 3px solid #185cff;
}

.price__option {
    display: flex;
    flex-direction: column;
    padding: 50px 35px;
    width: 350px;
    height: 558px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(12, 68, 204, 0.1);
    border-radius: 6px;
}

.price__option-text {
    display: flex;
    flex-direction: column;
}

.price__option-subtitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #292d33;
}

.price__option-title {
    margin-top: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 56px;
    letter-spacing: -0.015em;
    color: #292d33;
}

.price__option-title span {
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #292d33;
}

.price__option-btn {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: #185cff;
    text-align: center;
    padding: 11px 0;
    border: 1px solid #185cff;
    border-radius: 6px;
    -webkit-transform: scale(1);
    transform: scale(1);
    white-space: nowrap;
    display: inline-block;
    margin: 30px 0;
}

.price__option-btn:hover {
    color: #ffffff;
    background: #185cff;
    box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
}

.price__option-about {
    display: flex;
    flex-direction: column;
}

.price__options {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.price__option-plus {
    display: flex;
    align-items: center;
    color: #292d33;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}

.price__option-plus::before {
    content: "";
    display: block;
    background: url("/images/icons/checkmark-icon.svg");
    width: 25px;
    height: 26px;
    margin-right: 7px;
}

.price__option-plus:last-child {
    margin-bottom: 0;
}

.price__head {
    position: relative;
}

.price__toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    overflow: hidden;
    background-color: #f0f9ff;
    border-radius: 20px;
}
.price__toggle-item {
    display: inline-block;
}
.price__toggle-item input[type="radio"] {
    display: none;
}
.price__toggle-item label {
    display: inline-block;
    padding: 11px 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 125px;
    background: #f0f9ff;
    cursor: pointer;
    user-select: none;
}

.price__toggle .item-1 label {
    border-radius: 20px 0 0 20px;
}
.price__toggle .item-2 label {
    border-radius: 0 20px 20px 0;
}

.price__toggle .item-1 input[type="radio"]:checked + label {
    background: #185cff;
    border-radius: 20px;
    color: #ffffff;
}
.price__toggle .item-2 input[type="radio"]:checked + label {
    background: #185cff;
    border-radius: 20px;
    color: #ffffff;
}

.price__compare-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
